# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual environments
venv/
env/
ENV/
.venv

# Ignore contents but keep directories
input/*
!input/.gitkeep

output/*
!output/.gitkeep

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
